<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.bbkk.android.bbkkclient">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".view.nameSetting.NameActivity" />
    <activity android:name=".view.main.MainActivity" />
    <activity android:name=".view.tendency.TendencyActivity" />
    <activity android:name=".view.season.SeasonActivity" />
    <activity android:name=".view.splash.SplashActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".view.detail.DetailActivity" />
    <activity android:name=".view.review.ReviewActivity" />
    <activity android:name=".view.write.WriteActivity" />
    <activity android:name=".view.review.WriteReviewActivity"/>
  </application>

</manifest>